
        <h2>{{title}}</h2>
        {{#if item}}
        <ul>
            <li>Title: {{ item.title }}
            <li>Author: {{ item.author }}
            <li>Price: {{ item.price }}
        </ul>
        <!--<input type="button" onclick="location.href='/delete';" value="Delete" />-->
        <a href="/delete?title={{title}}">Delete</a>
        {{else}}
        <p>Sorry, {{title}} was not found.
        {{/if}}
